// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.logo{
  padding-top: 1em;
  padding-bottom: 1em;
  width: 250px;
}

.site-title{
  padding-top: 20px;
  padding-bottom: 20px;
}

.site-nav{
  padding-top: 0px;
}

@keyframes topbar {
  0%   {border-top-color: #1ace6b;}
  25%  {border-top-color: #ffd300;}
  50%  {border-top-color: #be0aff;}
  100% {border-top-color: #1ace6b;}
}

.site-header{
  border-top: 5px solid #1ace6b;
  animation-name: topbar;
  animation-duration: 15s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.site-logo{
  width: 100px;
  margin-left: 0px;
  padding: 10px;
}

#page-hero{
  margin-left: 0;
  margin-bottom: 30px;
  width: 100vw;
  height: 320px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 600px){
  .site-nav{
    top: 37px;
    border: 0;
  }
}

@media (max-width: 420px){
  .logo{
    width: 180px;
  }

  .site-title{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  #page-hero{
    margin-bottom: 15px;
    height: 150px;
  }

  .site-logo{
    padding: 20px;
  }

  #site-title-span{
    display: none;
  }

  .site-nav{
    top: 27px;
    border: 0;
  }

  .post-title{
    text-align: center;
  }
}
