<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    {%- if page.show_hero -%}
      <!--<div id="page-hero" style="background-image: url('{{ site.baseurl }}/assets/images/banner.jpg');"></div>-->
      <div id="page-hero" style="background-image: url('https://deutscherslacklineverbanddotorg.files.wordpress.com/2017/08/c_img_1143.jpg');"></div>
    {% endif %}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
